/* Overall container */
.group-container {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #f9f9f9;
}

/* Section container */
.group-section {
  margin-bottom: 40px;
}

.group-section h2 {
  margin-top: 60px;
  margin-bottom: 20px;
  font-size: 35px;
  color: #333;
  text-align: left;
  border-bottom: 2px solid #ddd;
  padding-bottom: 10px;
}

/* List of group cards */
.group-list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: flex-start;
}

/* Create group section */
.create-group-btn {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #f9f9f9;
  font-size: 20px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.create-group-btn:hover {
  background-color: #006fe6;
}

.group-form-container {
  max-width: 400px;
  margin-top: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.group-form-container h3 {
  margin-top: 0;
  font-size: 20px;
  color: #333;
}

.group-form input,
.group-form textarea {
  width: 380px;
  padding: 10px;
  margin-right: 15px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.group-form textarea {
  height: 80px;
}

.submit-btn {
  background-color: #007bff;
  color: #f9f9f9;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #006fe6;
}

.cancel-btn {
  background-color: #d2d2d2;
  color: #333;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}

.cancel-btn:hover {
  background-color: #bebdbd;
}

/* More groups section */
.join-group-btn {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.join-group-btn:hover {
  background-color: #006fe6;
}

.disabled-join-btn {
  background-color: #d2d2d2;
  color: #666;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 14px;
  cursor: not-allowed;
}

.disabled-join-btn:hover {
  background-color: #d2d2d2;
}
